body{
  font-family: Times serif;
  color: white;

}
button{
  color:white;
  font-size: 150%;
  margin:0px;
  text-align: center;
}
.calculator{
  width:326px;
  height:405px;
  background-color: #30C33F;
  border-collapse: collapse;
}
tr{
  margin:0px;
}
#result{
  width:248px;
  height: 81px;
  text-align: right;
  background-color: #30C33F;
}
#clear{
  width:81px;
  height:81px;
  text-align: center;
  background-color: #30C33F;
}
#zero{
  width:81px;
  height:81px;
  text-align: center;
  background-color: #30C33F
}
.num{
  width:81px;
  height:81px;
  text-align: center;
  background-color: #30C33F;
}
.operator{
  width:81px;
  height:81px;
  text-align: center;
  background-color: #4AD558;
}
#equal{
  width:81px;
  height:81px;
  text-align: center;
  background-color: #30C33F;
}
#period{
  width:81px;
  height:81px;
  text-align: center;
  background-color: #30C33F;
}
